// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

// $blue: #69B3E7;
$blue: #60a9de;

// Override Bootstrap default state colors

$primary: $blue;
